My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Phân tích đoạn đoạn văn bản sau, tách các thông tin liên quan đến số tiền, loại giao dịch theo định dạng mẫu:\n\n{\n\"amount\": \"số tiền giao dịch\",\n\"transaction_type\": \"loại giao dịch\",\n\"comment\":\"Bình luận\"\n}\n\nTrong đó:\n- \"số tiền giao dịch\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000...\n- \"Loại giao dịch\" xác định như sau: điền giá trị Thu nếu nhận tiền, điền giá trị Chi nếu như tiêu tiền.\n- \"Bình luận\" là nội dung bình luận tầm 3 câu về giao dịch chi tiêu bằng Tiếng Việt. \n\nĐoạn văn bản: \n {{ $json.message.text }}",
        "options": {
          "systemMessage": "Bạn là một chuyên gia tài chính tiếng Việt. Luôn trả về dạng JSON. Tuyệt đối trả về tiếng Việt. Only return Vietnamese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -760,
        -40
      ],
      "id": "5b5c1fcb-0f2d-4b77-9989-91db9a4a2c92",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "=deepseek-r1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -840,
        180
      ],
      "id": "b36bf83a-aef1-4343-afa1-264e894ad472",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "fB76RWVgdZg8oD1c",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let note = $json.output;\n\n// Xử lý chuỗi JSON từ output\nnote = note.split(\"</think>\")[1].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\nnote = JSON.parse(note);\n\n// Gán nội dung tin nhắn Telegram vào note\nnote[\"content\"] = $('Telegram Trigger').item.json.message.text;\n\n// Lấy thời gian hiện tại\nvar date = new Date().toISOString();\nnote[\"date\"] = date;\n\n// Kiểm tra nếu `amount` = 0 thì không cập nhật\nif (!note.amount || isNaN(note.amount) || note.amount <= 0) {\n    console.log(\"⚠ Amount không hợp lệ (0 hoặc không phải số), không cập nhật vào Google Sheets.\");\n    return null; // Dừng lại, không gửi dữ liệu tiếp theo\n}\n\n// Trả về kết quả nếu dữ liệu hợp lệ\nreturn { json: { short_out: note } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -40
      ],
      "id": "0d1be668-3996-45d2-b0c9-16f75c5373bc",
      "name": "Code",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        -20
      ],
      "id": "e28e5800-e1b5-467d-86cc-b0678fb45777",
      "name": "Telegram Trigger",
      "webhookId": "04d238bc-b52a-43b9-8934-6330dc37e541",
      "credentials": {
        "telegramApi": {
          "id": "GBA9BLZY2Cp773aX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Xin lỗi. Hiện tôi chưa hiểu được nội dung chat của bạn. Bạn có thể nói lại rõ hơn được không. Xin cảm ơn!\n\nBạn nên dùng các cú pháp dễ hiểu như:\n- Thu 100K vì được cho\n- Chi 500K để sửa xe máy",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        60,
        100
      ],
      "id": "650572fc-089f-459a-9f95-ad05c2db2631",
      "name": "Telegram",
      "webhookId": "52f636eb-4e13-46aa-8bff-cbeea32ff18a",
      "credentials": {
        "telegramApi": {
          "id": "GBA9BLZY2Cp773aX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Chúng tôi đã cập nhật vào bảng thu chi của bạn. Xin cảm ơn!\n\nTuy nhiên, tôi có ý kiến về chi tiêu của bạn như sau:\n{{ $('Code').item.json.short_out.comment }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        -160
      ],
      "id": "41ac9afc-4b54-4603-b567-dc20b3b96307",
      "name": "Telegram1",
      "webhookId": "1d98e40b-9906-4496-995f-c39a68e334f4",
      "credentials": {
        "telegramApi": {
          "id": "GBA9BLZY2Cp773aX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d08a750-946d-4076-b7cd-7851afa49253",
              "leftValue": "={{ $json.short_out.transaction_type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -160
      ],
      "id": "805e569e-56b1-43ff-98f3-20d7ae246367",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12cI3im6JpJKDHFwXMXRFG_CLCsGem7h7ONitXrP86iM",
          "mode": "list",
          "cachedResultName": "ThuChi2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12cI3im6JpJKDHFwXMXRFG_CLCsGem7h7ONitXrP86iM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iWdY9kjmz83cgI957nD3xZNtJChWL2LMjyNID-yfIuM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.short_out.date }}",
            "ThuOrChi": "={{ $json.short_out.transaction_type }}",
            "Content": "={{ $json.short_out.content }}",
            "Amount": "={{ $json.short_out.amount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ThuOrChi",
              "displayName": "ThuOrChi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        120,
        -140
      ],
      "id": "fe630414-3271-4e05-9e10-5cf2fc2890e6",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGFTHuz9odK3wNYo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1aebb160-9929-40e6-8f8b-1adb978f0214",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d420fe7c04378dc935594f6f6008d658975d1ecad4fc6c52ccec68520f7a1c2"
  },
  "id": "oX1MoVzb05IQXTTW",
  "tags": []
}